.btn{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    outline: none;
    border-radius: 10px;    
    width: 150px;
    border: none;
}
.btn-mobile{
    width: fit-content;
    height: fit-content;
}
.btn--prime{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border: 1px solid var(--secondaryColor);
}

.btn--prime:hover,
    .btn--out{
    border: 1px solid var(--secondaryColor);
    background-color: transparent;
    color:var(--secondaryColor);
    transition: all 0.4s ease-in-out;
}

.btn--large{
    padding: 16px 26px;
    font: size 20px;
}

.btn--med{
    padding: 12px 20px;
    font-size: 20px;    
}
.btn--large:hover,
.btn--med:hover{
    background-color: var(--secondaryColor);
    transition: all 0.4s ease-in-out;
    color: var(--primaryColor);
}

.btn-login{
    height: 55px;
    width: 350px;
}
.loginBtn{
    border-radius: 10px;    
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border: 1px solid var(--secondaryColor);
    transition: all 0.3s ease-in-out;   
    transform: translateY(1000%);
}
.loginBtn:hover{
    border: 1px solid aquamarine;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);
}
.reg-size{
    text-align: center;
    width: 400px;
    height: 45px;
}